* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#main-wrap {
    flex: 1 0 auto;
}

/*Home Banner*/

.banner {
    display: flex;
    padding-top: 45px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 0 !important;
    cursor: default;
    position: relative;
    overflow: hidden;
}

.hero-wrap {
    position: relative;
    z-index: 2;
    width: 100%;
}


@media screen and (max-width: 480px) {
    .banner > .inner .major {
        width: 100%;
    }
}

#top-center {
    display: flex;
    justify-content: left;
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
}

#top-nav {
    color: #000;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

#top-nav a{
    font-size: 1.25rem;
    font-weight: 200;
    letter-spacing: 2px;
    padding-right: 15px;
    margin-left: 17px;
}

#top-nav a:hover, #name-pos span:hover{
    color: rgba(46, 46, 46, 0.6);
    cursor: pointer;
    transition: all 0.5s ease;
}

#video {
    position: absolute;
    top: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#name-pos {
    display: flex;
    color: #000;
    font-size: 3rem;
    margin: 0 0 5px 15px;
    letter-spacing: 10px;
}

#name-pos h1 {
    font-weight: 400;
}

#name-pos span {
    color: #000;
}

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    width: 100%;
}

.banner-content p{
    color: #000000;
    font-size: 1.5rem;
    width: 60%;
    text-align: center;
    letter-spacing: 2px;
}

#hero-home {
    box-shadow: 0 2px 4px 0 #616161;
}

/*Mid Section*/
#mid {
    padding: 50px;
}

#mid-wrap {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.case {
    height: 350px;
    width: 350px;
    border: red 2px dashed;
}

#ui-hold {
    margin: 0 30px;
}

footer {
    border: red 2px dashed;
    height: 200px;
    /*bottom: 0;*/
    flex-shrink: 0;
}