body {
    margin: 0;
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.75);
}

a {
    color: inherit;
    text-decoration: none;
}

.hidden {
    opacity: 0;
    height: 0;
    transition: all 0.3s ease-out;
}

#hamburger-icon img{
     height: 24px;
     width: 24px;
}

.head-wrap {
    background-color: #FFF;
    align-items: center;
    box-shadow: 0 2px 1px rgba(0,0,0, .1);
    position: relative;
    padding-bottom: 20px;
}

.header-brand {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
}

#nav-drop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFF;
    overflow: hidden;
}

#nav-drop a {
    padding: 15px;
    text-align: center;
    letter-spacing: 2px;
}

.nav-transition {
    height: 30px;
    opacity: 1;
    transition: all 0.3s ease-in;
}

#mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
}

#nav-list {
    display: none;
}

#header-nav .header-brand {
    display: none;
}

/*Styles for Desktop */
@media (min-width: 768px) {

    .header-brand {
        font-size: 2rem;
    }

    #mobile-nav, #nav-drop {
        display: none;
    }

    #header-nav .header-brand {
        display: block;
    }

    #header-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
    }

    .head-wrap {
        padding-bottom: 0;
    }

    #nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 350px;
    }
    #nav-list a {
        /*margin-left: 30px;*/
        font-size: 1.25rem;
        letter-spacing: 2px;
    }
    #nav-list a:hover {
        color: black;
        font-weight: bold;
    }

    .btn-wrap {
        height: 60px;
        display: flex;
        align-items: center;
    }

    .btn-wrap:hover {
        border-bottom: 5px rgba(0, 0, 0, 0.8) solid;
        box-sizing: border-box;
    }
}