* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Open Sans', "Roboto Thin", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.75);
}

#main-wrap {
    flex: 1 0 auto;
}

/*imgs*/
.mail-img {
    background: url(../img/message-blk.png) no-repeat center;
}

.behance-img {
    background: url(../img/behance-blk.png) no-repeat center;
}

.github-img {
    background: url(../img/github-blk.png) no-repeat center;
}

.instagram-img {
    background: url(../img/instagram-blk.png) no-repeat center;
}

.linkedin-img {
    background: url(../img/linkedin-blk.png) no-repeat center;
}
/*.???-img {*/
/*    background: url(../img/???????-blk.png) #b9b9b9 no-repeat center;*/
/*}*/

.social {
    margin-right: 15px;
    background-size: 25px;
    width: 45px;
    height: 45px;
    border-radius: 30px;
    background-color: #b9b9b9;
}

/*Home Banner*/
.banner {
    display: flex;
    padding-top: 35px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: default;
    position: relative;
    overflow: hidden;
}

.hero-wrap {
    position: relative;
    z-index: 2;
    width: 100%;
}


@media screen and (max-width: 480px) {
    .banner > .inner .major {
        width: 100%;
    }
}

#top-center {
    display: flex;
    justify-content: left;
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
}

#top-nav {
    color: #000;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

#top-nav a{
    font-size: 1.25rem;
    font-weight: 200;
    letter-spacing: 2px;
    padding-right: 30px;
    margin-left: 18px;
}

#top-nav a:hover, #name-pos span:hover{
    color: rgba(46, 46, 46, 0.6);
    cursor: pointer;
    transition: all 0.25s ease;
}

#video {
    position: absolute;
    top: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#name-pos {
    display: flex;
    color: inherit;
    font-size: 3rem;
    margin: 0 0 5px 15px;
    letter-spacing: 2px;
}

#name-pos h1 {
    font-weight: 400;
}

#name-pos span {
    color: #000000;
}

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    width: 100%;
}

.banner-content p{
    color: inherit;
    font-size: 1.5rem;
    width: 60%;
    text-align: center;
    letter-spacing: 2px;
}

#hero-home {
    box-shadow: 0 2px 4px 0 #616161;
}

/*Mid Section*/
#mid {
    padding: 50px 0;
}

#mid-wrap {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.case {
    height: 400px;
    width: 350px;
    box-shadow: 0 2px 4px 0 #616161;
    clip-path: inset(-1px -1px -5px -1px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
}

.case span {
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
}

#ui-hold {
    margin: 0 10px;
}


/*Footer Styles*/
footer {
    height: 90px;
    flex-shrink: 0;
    padding: 25px 50px;
    box-shadow: 0 -2px 4px 0 #616161;
}

.foot-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#socials-wrap {
    display: flex;
    justify-content: left;
}

#copyright {
    font-size: 0.80rem;
    font-weight: 400;
}

@media (max-width: 768px) {
    #top-nav a {
        display: none;
    }
    .banner {
        padding-top: 5px;
    }
    .banner-content {
        padding: 0;

    }
}