@import url('https://fonts.googleapis.com/css?family=Overpass');
@import url('https://fonts.googleapis.com/css?family=Overpass Mono');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    color: #f9fbff;
    background: black;
    font-family: 'Overpass';
    height: 100%;
}

#main-wrap {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.hidden {
    display: none;
}

/*imgs*/

/*.rafina-rhodes {*/
/*    background: url("../img/Rafina-rhodes-white.svg") no-repeat;*/
/*    background-size: 100%;*/
/*}*/

.mail-img {
    background: url(../img/message-blk.png) no-repeat center;
}

.behance-img {
    background: url(../img/behance-blk.png) no-repeat center;
}

.github-img {
    background: url(../img/github-blk.png) no-repeat center;
}

.instagram-img {
    background: url(../img/instagram-blk.png) no-repeat center;
}

.linkedin-img {
    background: url(../img/linkedin-blk.png) no-repeat center;
}

.medium-img {
    background: url(../img/medium-blk.png) #0f0f0f no-repeat center;
}

.social {
    margin-right: 15px;
    background-size: 25px;
    width: 45px;
    height: 45px;
    border-radius: 30px;
    background-color: #f9fbff;
}

.social:hover {
    cursor: pointer;
}

#ux-pic {
    background: url("../img/UX-Tile-Audience.jpeg") no-repeat center;
    background-size: cover;
    transform: scale(1.15);
}

#ux-pic:hover {
    opacity: 1;
    z-index: 53;
    position: absolute;
    width: 99%;
    transform: scale(2.4);
    background-size: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
}

#ux-hold:hover {
    overflow: visible;
    width: auto;
}

#ui-tile-pic {
    background: url("../img/UI-Tile.png") no-repeat center;
    background-size: cover;
    transform: scale(1.15);
}

#ui-tile-pic:hover {
    opacity: 1;
    z-index: 53;
    position: absolute;
    width: 99%;
    transform: scale(2.4);
    background-size: 100%;
   cursor: pointer;
    transition: all 0.3s ease;
}

#ui-hold:hover {
    overflow: visible;
    width: auto;
}

#graphic-design-pic {
    background: url("../img/Graphic-Design-tile.jpg") no-repeat center;
    background-size: cover;
    transform: scale(1.5);
}

.home-mid-pic {
    width: 100%;
    height: 100%;
    z-index: 51;
    opacity: 0.8;
 }

.case div:nth-child(2) {
    font-family: 'Chuck';
    font-size: 7rem;
    position: absolute;
    z-index: 51;
    bottom: -22px;
    left: 0;
    opacity: 1;
}

#graphic-hold div:nth-child(2) {
    font-size: 3rem;
    position: absolute;
    z-index: 51;
    bottom: -10px;
}

/*Home Banner*/
.banner {
    display: flex;
    padding-top: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: default;
    position: relative;
    overflow: hidden;
}

.hero-wrap {
    position: relative;
    z-index: 2;
    width: 100%;
}

#top-center {
    display: flex;
    justify-content: left;

    position: absolute;
    z-index: 3;
    top: 0;
    margin-top: 15px;
    margin-left: 50px;
}

#top-nav {
    color: #f9fbff;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

#top-nav a {
    font-size: 1.25rem;
    font-weight: 200;
    letter-spacing: 2px;
    margin-right: 30px;
    font-family: 'Overpass Mono';
}





/* Menu Item Hover Underline Effect Desktop Version */



a.left {
    position: relative;
}

a.left:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    background-color: #f9fbff;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.left:hover:before {
    visibility: visible;
    width: 100%;
}


/* ///////////////////// */




#video {
    position: absolute;
    top: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#name-pos {
    display: flex;
    color: inherit;
    font-size: 3rem;
    /*margin: 0 0 5px 15px;*/
    letter-spacing: 2px;
}

#name-pos h1 {
    color: #f9fbff;
    font-family: 'Chuck';
    font-style: normal;
    font-weight: 900;
    font-size: 4rem;
}

#name-pos span {
    color: #f9fbff;
    font-family: chuck, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    width: 100%;
}

.banner-content p {
    color: inherit;
    font-size: 1.5rem;
    width: 60%;
    text-align: center;
    letter-spacing: 2px;
}

#hero-home {
    padding-bottom: 30px;
    margin-left: 50px;
}

/*Mid Section*/
#mid {
    padding: 50px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mid-wrap {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex: 2;
}

#midAbout {
    padding: 0 50px 0;
}

.headShotImage {
    height: 550px;
    width: 400px;
    background: url("../img/Portrait.png") no-repeat center;
    background-size: 500px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    overflow: visible;
}

.headShotImage span {
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
}

#aboutWrapper {
    width: 400px;
    height: 400px;
    padding-left: 150px;
    padding-bottom: 50px;
    flex-shrink: 0;
    /* border: red 2px dashed; */

}

#aboutText {
    width: 100%;
    background-color: black;
    text-align: left;
    padding: 0px 15px 15px;
    line-height: 25px;
    /* border: red 2px dashed; */
}

.aboutTitle {
    height: 60px;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    padding-top: 50px;
}


.case {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 2;
    overflow: hidden;
}

.case span {
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
}

.case-study h1 {
    font-size: 40px;
    background-color: black;
    text-align: right;
    margin: 100px;
}

.case-study {
    background: url('./../img/UX-Header.jpeg') no-repeat center;
    background-size: 120%;
    height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.overview {
    background-color: #f9fbff;
    padding: 20px 70px;
}

.overview-heading {
    font-size: 28px;
    color: #0f0f0f;
}

.overview p {
    padding: 10px 0;
    color: #0f0f0f;
}

.problem-statement {
    background-image: linear-gradient(rgb(233, 237, 240), rgb(160, 192, 232));
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px 120px;
    font-size: 28px;
    text-align: center;
}

/* .section-images {
    background-image: linear-gradient(rgb(161, 196, 222), rgb(80, 113, 154));
    width: 100%;
    height: 270px;
} */

.users {
    padding: 40px 70px;
}

.users-heading {
    font-weight: bold;
}

/* .users-text {
    padding-bottom: 20px;
} */

.section2-image {
    height: 300px;
    width: 100%;
    background: url("./../img/UX-Tile-Audience.jpeg") no-repeat center;
    background-size: 120%;
    background-position: top;
    /* display: flex;
    justify-content: flex-start; */
}

.scope {
    padding: 40px 70px;
    background-color: #f9fbff;
    color: black;
}

.scope-heading {
    font-weight: bold;
}

.section3-image {
    height: 300px;
    width: 100%;
    background: url("./../img/UX-Responsibilities.jpeg") no-repeat center;
    background-size: 120%;
}

.process {
    padding: 40px 70px;
}

.process-heading {
    font-weight: bold;
}

.section4-image {
    height: 300px;
    width: 100%;
    background: url("./../img/UX-Process.jpeg") no-repeat center;
    background-size: 120%;
}

.outcomes {
    padding: 40px 70px;
    background-color: #f9fbff;
    color: black;
}

.outcomes-heading {
    font-weight: bold;
}

.outcomes-heading p {
    font-weight: bold;
}

.section5-image {
    height: 300px;
    width: 100%;
    background: url("./../img/UX-Outcome.jpeg") no-repeat center;
    background-size: 120%;
}

footer {
    height: 90px;
    flex-shrink: 0;
    padding: 25px 50px;
    border-top: 1px rgba(0, 0, 0, 0) solid;
    background-color: #000000;
    background-size: 200px 200px, 200px 200px, 40px 40px, 40px 40px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    background-image: linear-gradient(#f9fbff 2px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, .0) 1px, transparent 1px),
        /*up/down*/
        linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px),
        /*left/right*/
        linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px);
    z-index: 91;
}

.foot-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border-top: 1px rgba(0, 0, 0, 0.3) solid;
}

#socials-wrap {
    display: flex;
    justify-content: left;
}

#copyright {
    padding: 2px 0;
    background-color: #f9fbff;
    color: #000;
    font-size: 0.90rem;
    font-weight: 600;
}

.hamburger-menu-white {
    display: none;
    background: url("../img/hamburger-menu-white.svg") no-repeat center;
    background-size: 30px;
    height: 30px;
    width: 30px;
    margin: 5px 15px 5px 0;
    /*padding: 5px 15px 5px 5px;*/
}


#mobile-drop.nav-transition {
    animation: drop .5s;
    animation-fill-mode: forwards;
}

@keyframes drop {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



@media (min-width: 985px) {
    .section3-image, .section4-image, .section5-image {
        height: 400px;
    }
}

@media (min-width: 1300px) {
    .section3-image, .section4-image, .section5-image {
        height: 450px;
    }
}

@media (min-width: 1500px) {
    .section3-image, .section4-image, .section5-image {
        height: 500px;
    }
}

@media (min-width: 1650px) {
    .section3-image, .section4-image, .section5-image {
        height: 600px;
    }
}

@media (min-width: 2000px) {
    .section3-image, .section4-image, .section5-image {
        height: 750px;
    }
}


@media (max-width: 1450px) {
    .case-study h1 {
        margin: 55px;
    }
}


@media (max-width: 1300px) {
    .case-study h1 {
        margin: 60px;
    }
}


@media (max-width: 1041px) {
    .case-study {
        height: 400px;
        overflow: hidden;
    }

    .case-study h1 {
        height: 100px;
        font-size: 2rem;
        margin: 55px;
    }
}

@media (max-width: 930px) {
    .case-study h1 {
        margin: 30px;
    }
}


/*Handle Mobile Styling*/
@media (max-width: 768px) {
    .case {
        width: 100%;
    }

    #mid.home {
        padding: 0;
    }

    #home-body {
        height: 1200px;
        width: 100%;
    }

    #hero-home {
        height: 120px;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .hero-wrap {
        position: absolute;
        bottom: -6px;
        left: 1px;
        display: flex;
        justify-content: center;
    }

    .case div:nth-child(2) {
        font-size: 5rem;
        bottom: -15px;
    }
    #ui-tile-pic {
        background: url("../img/UI-Tile.png") no-repeat center;
        background-size: 120%;
        transform: scale(1.15);
    }

    #top-nav a {
        display: none;
    }

    .case-study h1 {
        height: 100px;
        font-size: 1.7rem;
        margin: 35px;
    }

    .banner {
        padding-top: 5px;
    }

    .banner-content {
        padding: 0;
        align-content: center;
        width: auto;
    }

    #name-pos h1 {
        font-family: chuck, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 2.5rem;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    footer {
        justify-content: center;
        padding: 10px;
    }

    .foot-wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #socials-wrap {
        margin-bottom: 10px;
    }

    .hamburger-menu-white {
        position: absolute;
        right: 0;
        display: block;
        z-index: 998;
    }

    #mobile-drop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        flex-direction: column;
        align-items: flex-end;
        justify-content: right;
        background: #000;
        overflow: hidden;
    }

    #mobile-drop a {
        color: #f9fbff;
        font-size: 2rem;
        padding: 15px;
        letter-spacing: 2px;
    }

    #mobile-drop span {
        transform: scale(1.5, 1);
        font-size: 2rem;
        color: #f9fbff;
    }

    .mobile-select {
        padding: 15px 0;
        width: 100%;
        text-align: left;
        border-bottom: 5px #f9fbff solid;
    }

    .mobile-select-home {
        border-top: 5px #f9fbff solid;
    }

    #x-contain {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 80px;
        background: black;
    }

    #mid-wrap {
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }

    #mid {
        padding: 25px;
    }

    #aboutWrapper {
        margin: 0;
    }

    .aboutTitle {
        padding-top: 15px;
    }
    .section3-image {
        height: 240px;
    }

    .section4-image {
        height: 240px;
    }

    .section5-image {
        height: 240px;
    }
}

@media (max-width: 400px) {
    #name-pos h1 {
        font-size: 2.2rem;
}

@media (max-width: 686px) {
    .case-study {
        height: 290px;
        overflow: hidden;
    }

    .section2-image {
        height: 170px;
    }

    .section3-image {
        height: 170px;
    }
    
    .case-study h1 {
        height: 75px;
        font-size: 1.5rem;
        margin: 20px;
    }

    .section3-image, .section4-image, .section5-image {
        height: 210px;
    }
}

@media (max-width: 585px) {
    .case-study {
        height: 210px;
        overflow: hidden;
    }

    .case-study h1 {
        height: 60px;
        font-size: 1.2rem;
    }

    .section3-image, .section4-image, .section5-image {
        height: 170px;
    }
}

@media (max-width: 496px) {
    .case-study {
        height: 200px;
        overflow: hidden;
    }

    #name-pos h1 {
        margin-right: 45px;
    }

    .case-study h1 {
        height: 50px;
        font-size: 1rem;
    }

    .section3-image, .section4-image, .section5-image {
        height: 150px;
    }
}